@inherits LayoutComponentBase

<div class="container">
    <header>
        <h1 class="text-center">Commit Push Notifications</h1>
    </header>
    <nav>
        <a href="/">Home</a> | 
        <a href="/notifications">Notifications</a>|
        <a href="/pat-setup">Change PAT</a> |
    </nav>
    <main>
        @Body
    </main>
</div>
