<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/notifications">Notifications</a></li>
    </ul>
</nav>

<style>
    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav li {
        margin: 0.5rem 0;
    }
</style>
