@page "/"
@inject IHttpClientFactory HttpClientFactory
@inject IConfiguration Configuration

<h3>Webhook Setup</h3>

<div class="form-container">
    <EditForm Model="WebhookRequest" OnValidSubmit="SubmitForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="url">Webhook URL</label>
            <InputText id="url" @bind-Value="WebhookRequest.WebhookUrl" class="form-control" />
        </div>

        <div class="form-group">
            <label for="pat">Personal Access Token (PAT)</label>
            <InputText id="pat" @bind-Value="WebhookRequest.PAT" class="form-control" type="password" />
        </div>

        <div class="form-group">
            <label for="collectionName">ColectionName</label>
            <InputText id="collectionName" @bind-Value="WebhookRequest.CollectionName" class="form-control" type="text" />
        </div>

        <div class="form-group">
            <label for="projectName">Project Name</label>
            <InputText id="projectName" @bind-Value="WebhookRequest.ProjectName" class="form-control" type="text" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
</div>

@if (Message != null)
{
    <p class="alert alert-info">@Message</p>
}

@code {
    private WebhookSetupRequest WebhookRequest = new();
    private string? Message;

    private async Task SubmitForm()
    {
        try
        {
            var client = HttpClientFactory.CreateClient();
            client.BaseAddress = new Uri(Configuration["Urls:HostUrl"]);
            var response = await client.PostAsJsonAsync("api/setup", WebhookRequest);
            if (response.IsSuccessStatusCode)
            {
                Message = "Webhook setup successfully!";
            }
            else
            {
                var error = await response.Content.ReadAsStringAsync();
                Message = $"Error: {error}";
            }
        }
        catch (Exception ex)
        {
            Message = $"Exception: {ex.Message}";
        }
    }

    public class WebhookSetupRequest
    {
        public string CollectionName { get; set; }
        public string ProjectName    { get; set; }

        [Required(ErrorMessage ="Webhook URL is required")]
        [Url(ErrorMessage = "Invalid URL format")]
        public string WebhookUrl     { get; set; }

        [Required(ErrorMessage = "PAT is required")]
        public string PAT { get; set; }
    }

}
